* {
  margin: 0;
  padding: 0;
}

.long-div {
  padding: 1500px 0;
}

.sticky-sentinel {
  height: 100px;
  background: rebeccapurple;
  width: 100%;
}

.banner {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
}

.banner01 {
  background: red;
}

.banner02 {
  background: green;
  height: 120px;
}

.banner03 {
  background: blue;
}

.nav-wrapper {
  
  &.sticky {
    transform: translate(0, 0);
    transition: all 0.5s;
    opacity: 1;
  }
}

.cloned {
  position: fixed;
  transition-duration: 0.25s;
  top: 0;
  transform: translate(0, -100%);
  width: 100%;
  opacity: 0;

  .banner02 {
    height: 80px;
  }
}