input {
    margin-right: 10px;
    text-align: center;
    width: 50px;
}

.num-wrapper {
    display: flex;
    height: 150px;
    overflow: hidden;
}

.num-column {
    margin: 0 10px;
    transition: transform 2s ease;
}

.num {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-size: 130px;
    font-weight: bold;
    height: 150px;
    justify-content: center;
    width: 150px;
}