:root {
  --color-blue: #005984;
  --color-green: #54b948;
  --color-teal: #26bcd7; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  background: #e5e5e5; }

.dots {
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  padding: 36px 54px; }
  .dots__label {
    margin-bottom: 24px; }
  .dots__container {
    align-self: center;
    height: 24px;
    width: 128px; }
  .dots__dot {
    animation: dotSlide01 1.2s linear infinite;
    border-radius: 50%;
    height: 24px;
    position: absolute;
    width: 24px; }
    .dots__dot.dots__dot--01 {
      background: var(--color-blue); }
    .dots__dot.dots__dot--02 {
      background: var(--color-teal);
      animation-delay: -0.4s; }
    .dots__dot.dots__dot--03 {
      background: var(--color-green);
      animation-delay: -0.8s; }

@keyframes dotSlide01 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(0.8, 0.8, 1); }
  20% {
    opacity: 1;
    transform: translate3d(21px, 0, 0) scale3d(1, 1, 1); }
  80% {
    opacity: 1;
    transform: translate3d(83px, 0, 0) scale3d(1, 1, 1); }
  100% {
    opacity: 0;
    transform: translateX(104px) scale3d(0.8, 0.8, 1); } }
