.dots-08 {

  .dot-carousel {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--color-blue);
    color: var(--color-blue);
    box-shadow: 9984px 0 0 0 var(--color-blue), 9999px 0 0 0 var(--color-blue), 10014px 0 0 0 var(--color-blue);
    animation: dotCarousel 1.5s infinite linear;
  }
  
  @keyframes dotCarousel {
    0% {
      box-shadow: 9984px 0 0 -1px var(--color-blue), 9999px 0 0 1px var(--color-blue), 10014px 0 0 -1px var(--color-blue);
    }
    50% {
      box-shadow: 10014px 0 0 -1px var(--color-blue), 9984px 0 0 -1px var(--color-blue), 9999px 0 0 1px var(--color-blue);
    }
    100% {
      box-shadow: 9999px 0 0 1px var(--color-blue), 10014px 0 0 -1px var(--color-blue), 9984px 0 0 -1px var(--color-blue);
    }
  }

}