.dot-wrapper {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
  width: 100%; }

.dot-container {
  background: #f7f7f7;
  height: 24px;
  width: 128px; }

.dot {
  height: 24px;
  border-radius: 50%;
  position: absolute;
  width: 24px; }
  .dot--01 {
    background: #005984; }
  .dot--02 {
    background: #26bcd7; }
  .dot--03 {
    background: #54b948; }
